---
name: CI

on:
  pull_request:
    branches:
      - main
      - "v*"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: ["8.4"]
        experimental: [false]

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: xdebug
          extensions: "grpc"

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Lint
        shell: bash
        run: make lint

  validate-composer:
    name: Validate composer.json
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Validate
        shell: bash
        run: make validate-composer

  unit-tests:
    name: Unit Test
    needs: ["lint"]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: ["8.4"]
        experimental: [false]
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: xdebug
          extensions: "grpc"

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run docker compose
        run: docker compose up -d

      - name: Run unit tests
        shell: bash
        run: make test
