---
name: CI

on:
  pull_request:
    branches:
      - main
      - "v*"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: ["8.4"]
        experimental: [false]

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: xdebug
          extensions: "grpc"

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Lint
        shell: bash
        run: make lint

  validate-composer:
    name: Validate composer.json
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Validate
        shell: bash
        run: make validate-composer

  unit-tests:
    name: Unit Test
    needs: ["lint"]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: ["8.4"]
        experimental: [false]
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: xdebug
          extensions: "grpc"

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run docker compose
        run: docker compose up -d

      - name: Run unit tests
        shell: bash
        run: make test
